.ryland-bed-logo {
    display: flexbox;
    align-items: center;
    justify-content: center;
    max-height: 70vh;

  }

.ryland-bed-logo-wrapper {
    padding-top: 4vw;
  }

  @media only screen and (max-width: 550px) {
    .ryland-bed-logo {
      align-items: center;
      justify-content: center;
      max-width: 80%;
    }
  
  .ryland-bed-logo-wrapper {
      padding-top: 2vh;
    }
  }