.ryland-bed-logo {
    display: flexbox;
    align-items: center;
    justify-content: center;
    max-height: 70vh;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  @media only screen and (max-width: 800px) {
    .ryland-bed-logo {
      align-items: center;
      justify-content: center;
      max-width: 85vw;
    }
  
  .ryland-bed-logo-wrapper {
      padding-top: 2vh;
    }
  }