.App-nav {
    color: #FFF;
    font-size: 4vh;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    font-weight: 600;
    overflow: hidden;
}
  
.App-nav-item {
  flex: 1;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}
.App-nav-item:hover {
  color: burlywood;
}

.App-nav-item:active {
  color: chocolate;
}

.App-nav-close-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .App-nav {
    color: #FFF;
    font-size: 4vh;
    padding: 3vh;
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    font-weight: 600;
  }

  /* All items in nav that are not relevant to active page */
  .App-nav .App-nav-item:not(:first-child) {
    display: none;
  }

  .App-nav:hover .App-nav-item {
    display: block;
  }

  .App-nav-item {
    flex: 1 0 50%; 
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
  }
}