.social-links {
    display: "flex";
    position: fixed;
    bottom: 0;
    left: 0;
    gap: 15;
    padding: 1vh;
}

@media screen and (max-width: 600px) {
    .social-links {
        position: relative;
        
    }
}