@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  text-decoration-color: white;
}

/* DEBUG SPACINGS HERE */
/* * {
  outline: 1px solid #f00 !important;
} */
